ion-header {
    padding-top: 5px;
    padding-bottom: 2px;
    background: #231942;
    border-radius: 30px 30px 0 0;
  
    ion-toolbar,
    ion-item {
      --background: #231942;
      background: #231942;
    }
  
    ion-toolbar {
      .notifications {
        --border-radius: 100px;
        --background: #231942;
        width: max-content;
      }
    }
  }
  
  ion-content {
  
    ion-item {
      --background: transparent;
      width: 100%;
    }
  }
  
  form {
    margin: 10px 13px;
    input {
      height: 45px;
      background: rgba(243, 242, 242, 0.474);
      box-shadow: none !important;
    }
    select {
      height: 45px;
      background: rgba(243, 242, 242, 0.474);
      border: #a2a9b4 solid 1.5px;
      box-shadow: none !important;
      color: #6b7490;
    }
    button {
      width: 100%;
    }
  }
  
  .erroMessage {
    font-size: 0.8rem;
  }
  