.content{
    margin: 0 2em !important;
}

.loginhead h1{
    font-size: 2.6em;
    font-weight: bolder;
}

.logo-card{
    text-align: center;
    margin-top: 16vh;
}

.logo-card img{
    width: 9em;
}

input{
    height: 3.5em;
}

a{
    font-size: 0.8rem;
    text-decoration: none;
}
.card-button{
    width: 100%;
}
.card-button button{
    width: 99%;
    height: 3em;
    font-size: 1.2rem;
}

.erroMessage{
    font-size: 0.8rem;
}