<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button slot="start" fill="transparent" (click)="back()">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-label>
      <div
        class="text-center"
        style="color: rgba(240, 248, 255, 0.777); font-size: 1.5em"
      >
        Details
      </div>
    </ion-label>
    <ion-button class="notifications" slot="end">
      <ion-icon name="share-social"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container d-flex">
    <button style="background-color: rgba(20, 158, 5, 0.684); color: white;"><i class="pi pi-whatsapp"></i></button>
    <ion-avatar class="centered-avatar">
      <img src="../../assets/avatar.jpg" alt="" />
    </ion-avatar>
    <button style="background-color: rgb(5, 42, 155); color: white;" routerLink = "/edit-candidat" ><i class="pi pi-user-edit"></i></button>
  </div>

  <ion-list style="padding-top: 1.5em;">
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Nom(s) :</ion-label>
        <p><i class="pi pi-id-card" style="color: rgb(24, 4, 98); padding-right: 8px; " ></i>NKENG ATO</p>
      </div>
    </ion-item>
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Prenom(s) :</ion-label>
        <p><i class="pi pi-id-card" style="color: rgb(24, 4, 98); padding-right: 8px; "></i>Maxime Melaine</p>
      </div>
    </ion-item>
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Téléphone :</ion-label>
        <p><i class="pi pi-phone" style="color: rgb(24, 4, 98); padding-right: 8px; "></i>+237654837863</p>
      </div>
    </ion-item>
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Classe :</ion-label>
        <p><i class="pi pi-user" style="color: rgb(24, 4, 98); padding-right: 8px; "></i>kenvksnknkn</p>
      </div>
    </ion-item>
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Numéro parent :</ion-label>
        <p><i class="pi pi-phone" style="color: rgb(24, 4, 98); padding-right: 8px; "></i>+237674702037</p>
      </div>
    </ion-item>
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Etablissement :</ion-label>
        <p><i class="pi pi-building" style="color: rgb(24, 4, 98); padding-right: 8px; "></i>Institut Polyvalent Wague</p>
      </div>
    </ion-item>
    <ion-item lines="none" class="card">
      <div>
        <ion-label>Numéro de choix :</ion-label>
        <p><i class="pi pi-sort" style="color: rgb(24, 4, 98); padding-right: 8px; "></i>03</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
