
ion-icon,ion-label{
    color: #616b75;
}

ion-tab-button:hover ion-icon {
  color: #231942;
}

ion-tab-button:hover ion-label {
  color: #231942;
}

ion-tab-button.tab-selected ion-icon {
  color:  #231942;
}

ion-tab-button.tab-selected ion-label {
  color:  #231942;
}
